<!--  <h1>Login Here</h1>
<div class="login-container">
    <h2>Login</h2>
    <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <div class="form-group">
        <p>Who are you?</p>
        <label>
          <input type="radio" formControlName="user_type" value="jobseeker"> Job Seeker
        </label>
        <label>
          <input type="radio" formControlName="user_type" value="Recruiter"> Recruiter
        </label>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    New User? <a routerLink="/signup">Click Here</a> to register.
  </div> -->
 




 <div class="container">
	<div class="screen">
		<div class="screen__content">
			<form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" id="username" formControlName="username" class="login__input" placeholder="Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" id="password" placeholder="Password" formControlName="password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
        <a routerLink="/signup">	<h3>Signup</h3></a>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
    