<!-- <div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div> 
<div class="header">
  <button (click)="toggleSidebar()">☰</button>
  <h1>MatchIntern</h1>
</div>

<div class="sidebar">
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</div>-->

<div class="content">
  <router-outlet></router-outlet>
</div>