<h1>Explore candidates!</h1>
<div class="swiper">
  <div class="card" [ngClass]="{'swiped-left': isSwipedLeft, 'swiped-right': isSwipedRight}">
    <div class="card-content">
      <h2 style="text-align: center;">{{ currentCard.candidatename }}</h2>
      <p>email: {{ currentCard.email }}</p>
      <p>skills: {{ currentCard.skills }}</p>
      <p>interest: {{ currentCard.interest }}</p>
      <p>project description: {{ currentCard.projectdescription }}</p>

      
    </div>
    <div class="card-actions">
      <button class="red-button" (click)="swipeLeft()">&#10006;</button> <!-- Red button with "X" icon -->
      <button class="green-button" (click)="swipeRight()">&#10004;</button> <!-- Green button with checkmark icon -->
      
    </div>
  </div>
</div>


  