<h1>Explore companies!</h1>

<div class="swiper">
  <div class="card" [ngClass]="{'swiped-left': isSwipedLeft, 'swiped-right': isSwipedRight}">
    <div class="card-content">
      <h2>{{ currentCard.name }}</h2>
      <p>Experience: {{ currentCard.experience }}</p>
      <p>Location: {{ currentCard.location }}</p>
      <p>Work: {{ currentCard.work }}</p>
    </div>
    <div class="card-actions">
      <button class="red-button" (click)="swipeLeft()">&#10006;</button> <!-- Red button with "X" icon -->
      <button class="green-button" (click)="swipeRight()">&#10004;</button> <!-- Green button with checkmark icon -->
      
    </div>
  </div>
</div>


  